<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <EELS_FIXTURES_ROOT>C:/projects/Scrutor/fixtures/state_tests/for_osaka</EELS_FIXTURES_ROOT>
      <EELS_REQUIRED_FORK>Osaka</EELS_REQUIRED_FORK>
      <EELS_MAX_CASES>99999</EELS_MAX_CASES>
      <EELS_INCLUDE_SUBDIRS>1</EELS_INCLUDE_SUBDIRS>
      <EELS_CASE_FILTER>two_ops</EELS_CASE_FILTER>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
